
    /*reset*/
    html,
    body,
    div,
    section,
    p,
    ul,
    li,
    form,
    table,
    td,
    a,
    dl,
    dt,
    dd,
    em,
    i,
    span,
    img,
    input,
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body,
    html {
        -webkit-tap-highlight-color: transparent;
        -webkit-text-size-adjust: none;
        -webkit-user-select: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 100%;
    }

    ul,
    li {
        list-style: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    a {
        text-decoration: none;
    }

    input[type="text"],
    input[type="password"],
    select {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        border-radius: 0;
        box-sizing: border-box;
    }

    a:focus,
    a:active,
    a {
        outline: none;
    }

    input,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    a {
        text-decoration: none;
        outline: none;
    }

    html {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    a,
    button,
    input {
        -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    }

    em,
    i,
    b {
        font-style: normal;
    }

    fieldset,
    img {
        border: 0;
        display: block;
    }

    img {
        width: 100%;
    }

    .c:after {
        content: '\20';
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
        clear: both;
    }

    .hh {
        display: block;
        text-indent: -999em;
        overflow: hidden;
    }

    .hide {
        width: 0;
        height: 0;
        overflow: hidden;
        display: none;
    }

    .pr {
        position: relative;
    }

    .pa {
        position: absolute;
    }

    html {
        font-size: 100px;
    }

    body,
    html {
        width: 100%;
        height: auto;
    }

    body {
        font: .22rem/1.75 -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fffdda;
        font-size: 0.24rem;
        position: relative;
        overflow-x: hidden;
    }

    .flex {
        display: flex;
        display: -webkit-flex;
        flex-flow: wrap;
        -webkit-flex-flow: wrap;
    }
